<!-- templates/escola/cursos.html -->

{% extends "escola/base.html" %}

{% block content %}
<h2>Cursos</h2>

<section>
    {% for item in cursos_com_imagem %}
    <article>
        <header>
            {% if item.imagem %}
                <img src="{{ item.imagem.url }}" alt="Imagem do curso {{ item.curso.nome }}">
            {% endif %}
            <h3>{{ item.curso.nome }}</h3>
            <p>Professor: {{ item.curso.professor.nome }}</p>
        </header>
        <section>
            <h4>Alunos</h4>
            <ul>
                {% for aluno in item.curso.alunos.all %}
                    <li>{{ aluno.nome }}</li>
                {% empty %}
                    <li>Sem alunos inscritos</li>
                {% endfor %}
            </ul>
        </section>
    </article>
    {% endfor %}
</section>
{% endblock %}
